extends ./template.pug

block headerCSS
    link(rel="stylesheet", href="css/index/style.css")

block content
    h1.section__jogadores__title Jogadores disponíveis
    section.section__jogadores
        if(jogadores)
            each jogador in jogadores
                div.section__jogadores__jogador
                    if jogador.imgSRC
                        img(src= `/${jogador.imgSRC}`, alt="Imagem Jogador")
                    div.qualquer
                        h3 #{jogador.name}
                        p  #{jogador.descricao}
                        a(href= `jogador/${jogador.ID}`, title="Ver mais") Ver mais 