<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="css/login/style.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css")

    body

        main
            form(action="/login" method="post")
                input(type="text", name="name" id="name" placeholder="Digite seu nome" required)
                input(type="password", name="password" id="password" placeholder="Digite sua senha" required)
                button(type="submit") Enviar